@import '~@common/theme/style';

.links-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    color: $primary;


    @include small-only {
      @include typography(s, bold);
    }

    @include medium-only {
      @include typography(m, bold);
    }

    @include large-up {
      @include typography(l, bold);
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;

    @include medium-down {
      width: 100%;
    }
  }
}
