@import '~@common/theme/style';

.empty-message {
  text-align: center;

  &__link-image {
    height: 72px;
    width: 72px;
  }

  &__text {
    @include small-only {
      @include typography(l, bold);
    }

    @include medium-only {
      @include typography(xl, bold);
    }

    @include large-up {
      @include typography(xxl, bold);
    }
  }
}
