@import "~@common/theme/style";

.login-page {
  @include flex(column);

  &__content {
    height: calc(100vh - 130px);
    width: 420px;
    margin: 0 auto;
    @include flex(column, center);
  }
}
