@import '~@common/theme/style';

.link-cards {
  display: grid;
  margin-bottom: 80px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;

  @include medium-down {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}
