@import '~@common/theme/style';

.links-page {
  &__title-wrapper {
    margin: 2rem 0px;
  }

  &__types-wrapper {
    width: 240px;
    height: calc(100vh - 262px);
    margin: 4rem 0px;
    border-radius: 8px;
    display: flex;
    width: 100%;
    flex-direction: row;

    &::-webkit-scrollbar {
      display: none;
    }

    @include medium-down {
      height: calc(100vh - 120px);
      flex-direction: column;
      margin: 2rem 0px;
    }
  }

  &__empty-message-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    height: 100%;
  }

  &__add-link-button {
    margin-top: 20px;
  }
}
