@import '~@common/theme/style';

.layout {
  height: 100%;

  @include small-only {
    padding: 0rem $layout-x-padding-mobile;
  }

  @include medium-only {
    padding: 0rem $layout-x-padding-tablet;
  }

  @include large-up {
    padding: 0rem $layout-x-padding-desktop;
  }
}
