$primary: #1001D4;
$primary-medium: #1001D4A1;
$primary-light: #1001D44F;

$white: #ffffff;

$black: #000;
$black-medium: #2A2438;
$black-light: #E1E1E4;

$body-bg: #F5F4F9;

$gray: #83838E;

$error: #CF462D;

$warning: #E1C03C4D;

$submit: #31ff43;
$delete: rgb(255 0 0);
