$primary: #1001D4;
$primary-medium: #1001D480;
$primary-light: #1001D44F;

$white: #ffffff;

$black: #000;
$black-medium: #2A2438;
$black-light: #E1E1E4;

$body-bg: #F5F4F9;

$gray: #83838E;

$error: #CF462D;
