$border-radius-default: 4px;

$layout-x-padding-desktop: 8rem;
$layout-x-padding-tablet: 4rem;
$layout-x-padding-mobile: 2rem;

@mixin flex ($direction: row, $justify: unset, $align: unset, $display: flex) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-center ($direction: row, $display: flex) {
  @include flex($direction, center, center, $display);
}


@mixin fade-in-down ($name, $from: -100%, $to: 0%) {
  @keyframes #{$name} {
    0% {
      transform: translateY($from);
      opacity: 0;
    }
    100% {
      transform: translateY($to);
      opacity: 1;
    }
  }
}

@mixin fade-in-up ($name, $from: 0%, $to: -100%) {
  @keyframes #{$name} {
    0% {
      transform: translateY($from);
      opacity: 1;
    }
    100% {
      transform: translateY($to);
      opacity: 0;
    }
  }
}

