@mixin typography-base {
  font-family: "Poppins";
}

@mixin font-weight($weight: regular) {
  $typography-font-weights: (
    regular: 400,
    semi-bold: 500,
    bold: 600
  );

  @if not map-has-key($typography-font-weights, $weight) {
    @error "Invalid weight specified! choose one of the #{map-keys($typography-font-weights)}";
  }

  font-weight: map-get($typography-font-weights, $weight);
}

@mixin typography($scale: m, $weight: regular) {
  $typography-scales: (
    xxxl: (
      font-size: 48px,
      letter-spacing: -2%,
      line-height: 60px
    ),
    xxl: (
      font-size: 36px,
      letter-spacing: -2%,
      line-height: 48px
    ),
    xl: (
      font-size: 28px,
      letter-spacing: -2%,
      line-height: 36px
    ),
    l: (
      font-size: 20px,
      letter-spacing: 0.2px,
      line-height: 28px
    ),
    m: (
      font-size: 16px,
      letter-spacing: 0.2px,
      line-height: 20px
    ),
    s: (
      font-size: 14px,
      letter-spacing: 0.2px,
      line-height: 16px
    ),
    xs: (
      font-size: 12px,
      letter-spacing: 0.1px,
      line-height: 16px
    )
  );

  @if not map-has-key($typography-scales, $scale) {
    @error "Invalid style specified! Choose one of #{map-keys($typography-scales)}";
  }

  $scale-props: map-get($typography-scales, $scale);
  @each $key, $value in $scale-props {
    #{$key}: $value;
  }

  @include font-weight($weight)
}
