@import '~@common/theme/style';

.cosmic-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem $layout-x-padding-desktop;

  &__link {
    color: $black-medium;
    
    &:active, 
    &:hover {
      color: $primary;
    }
  }

  &__logo {
    @include typography(xl, bold);
  }

  &__navs {
    display: flex;
  }

  &__sign-up {
    margin-left: 24px;
  }

  &__profile-link {
    // border: 2px solid $black-medium;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }

  &__profile-text {
    color: $black-medium;
  }

  &__profile-image {
    width: 40px;
    height: 40px;
  }
}
