@import '~@common/theme/style';

.cosmic-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include small-only {
    padding: 2rem $layout-x-padding-mobile;
  }

  @include medium-only {
    padding: 2rem $layout-x-padding-tablet;
  };

  @include large-up {
    padding: 8rem $layout-x-padding-desktop;
  }
  
  &__link {
    color: $black-medium;
    
    &:active, 
    &:hover {
      color: $primary;
    }
  }

  &__logo {
    @include typography(xl, bold);

    @include small-only {
      @include typography(m, bold);
    }

    @include medium-only {
      @include typography(l, bold);
    }
  }

  &__navs {
    display: flex;
  }

  &__sign-in {
    width: max-content;
  }

  &__sign-up {
    margin-left: 24px;
    width: max-content;
  }

  &__profile-link {
    // border: 2px solid $black-medium;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }

  &__profile-text {
    color: $black-medium;
  }

  &__profile-image {
    width: 40px;
    height: 40px;
  }
}
