@import '~@common/theme/style';

.cosmic-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__link {
    color: $black-medium;
    
    &:active, 
    &:hover {
      color: $primary;
    }
  }

  &__logo {
    @include typography(xl, bold);
  }

  &__navs {
    display: flex;
  }

  &__sign-in {
    margin-right: 24px;
  }
}
