@import '@common/theme/style';

.cosmic-btn {
  padding: 12px 24px;
  background: transparent;
  border: 2px solid $black-light;
  border-radius: $border-radius-default;
  color: $primary;
  text-decoration: none;
  @include typography(m, semi-bold);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  &--fluid {
    width: 100%;
  }

  &:hover {
    border-color: $black-medium;
    color: $black-medium;
  }

  &--filled {
    background: $black-medium;
    color: $black-light;

    &:hover {
      background-color: transparent;
    }
  }

  &--disabled {
    background-color: $black-light;
    color: $gray;
    cursor: not-allowed;

    &:hover {
      background-color: $black-light;
      color: $gray;
      border: 1px solid $black-light;
    }
  }

  &--vacant {
    border: unset;
    box-shadow: unset;
  }

  &--light {
    border-color: $white;
    color: $white;

    &:hover {
      border-color: $gray;
      color: $gray;
    }
  }
}
