@import '@common/theme/style';

.category-info {
  &__section-heading {
    color: $primary;
    margin-bottom: 24px;
  }

  &__categories {
    display: flex;
    flex-direction: column;
  }

  &__category {
    margin-bottom: 8px;
  }
}
