@import '~@common/theme/style';

.register-form {
  margin: 4rem 0rem;

  &__name,
  &__email,
  &__password {
    margin-bottom: 1.6rem;

    @include small-only {
      margin-bottom: 1.2rem;
    }
  }

  &__submit-btn {
    margin-top: 2rem;
  }
}
