@import '@common/theme/style';

.cosmic-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
  
  &__box {
    padding: 12px 16px;
    border: 1px solid $black-medium;
    border-radius: $border-radius-default;
    background: transparent;
    margin: 0;
    @include typography(m);

    &:focus {
      outline: none;
      border-color: $primary;
      color: $primary;
    }

    &--error {
      border-color: $error;
    }

    &--light {
      border-color: $gray;

      &:focus {
        color: $gray;
        border-color: $white;
      }
    }
  }

  &__label {
    @include typography(s);
    margin-bottom: 4px;

    &--light {
      color: $gray;
    }
  }

  &__error {
    @include typography(s);
    margin-top: 4px;
    color: $error;
  }
}
