@import '~@common/theme/style';

@include fade-in-down (fade-in-down);
@include fade-in-up (fade-in-up);

.cosmic-alert {
  padding: 24px 32px;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;

  &--banner {
    position: fixed;
    top: 40px;
    z-index: 10;
    width: fit-content;
    right: 40px;
    min-width: 480px;
  }

  &__message {
    @include typography(m, semi-bold);
    margin-right: 20px;
  }

  &--info {
    background-color: $primary-medium;
    color: $white;
  }

  &--error {
    color: $white;
    background-color: $error;
  }

  &--warning {
    background-color: $warning;
  }

  &--center {
    justify-content: center;
  }

  &--fade-down {
    animation: fade-in-down 0.8s linear;
  }

  &--fade-up {
    animation: fade-in-up 0.8s linear;
  }
}


