@import '~@common/theme/style';

@include fade-in-down (fade-in-down);
@include fade-in-up (fade-in-up);

.cosmic-alert {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;

  &--banner {
    position: fixed;
    top: 40px;
    z-index: 10;
    width: fit-content;
    right: 40px;

    @include medium-up {
      min-width: 480px;
      width: 50vw;
    }

    @include small-only {
      width: 90vw;
      right: 20px;
      top: 20px;
      padding: 12px 12px;
    }
  }

  &__message {
    @include typography(m, semi-bold);

    @include small-only {
      @include typography(s, semi-bold);
    }
  }

  &--info {
    background-color: $primary-medium;
    color: $white;
  }

  &--error {
    color: $white;
    background-color: $error;
  }

  &--warning {
    background-color: $warning;
  }

  &--center {
    justify-content: center;
  }

  &--fade-down {
    animation: fade-in-down 0.8s linear;
  }

  &--fade-up {
    animation: fade-in-up 0.8s linear;
  }
}


