@import '@common/theme/style';

.cosmic-dropdown {
  display: flex;
  flex-direction: column;
  position: relative;

  &__label {
    margin-bottom: 4px;
    @include typography(s);

    &--light {
      color: $white;
    }
  }

  &__selected {
    border: 1px solid $gray;
    padding: 12px 16px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      border-color: $black-medium;
      color: $black-medium;
    }

    &--light {
      color: $white;
      border: 1px solid $white;

      &:hover {
        color: $gray;
        border-color: $gray;
      }
    }
  }

  &__content {
    display: none;
    background-color: $white;
    position: absolute;
    width: 100%;
    top: 68px;
    border-radius: 4px;
    max-height: 200px;
    overflow: auto;


    &--light {
      border: 1px solid $white;
    }

    &--show {
      display: block;
    }
  }

  &__item {
    padding: 8px 12px;
    cursor: pointer;

    &:hover {
      color: $black-medium;
    }

    &--light {
      border-color: $gray;
      color: $gray;

      &:hover {
        color: $black-medium;
      }
    }
  }
}
