@import '~@common/theme/style';

.cosmic-tabs {
  display: flex;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: 1px;  /* Firefox */
  border: 1px solid $black-light;

  &--vertical {
    flex-direction: column;
    height: 100%;
    min-width: 222px;
  }

  &--horizontal {
    flex-direction: row;
    height: auto;
    max-width: 100vw;
    overflow: auto;
  }

  &__btn-wrapper {
    margin-bottom: 6px;
  }

  &__btn {
    color: $black-medium;
    position: relative;
    @include font-weight(semi-bold);

    &:hover {
      color: $primary;
    }

    &--active {
      color: $primary;
      border: 2px solid $primary;
    }

    &--vertical {
      padding: 12px 16px;
      text-align: left;
      width: 220px;
    }

    &--horizontal {
      width: 120px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 12px 12px;
    }
  }

  &__label {
    &--horizontal {
      width: max-content;
      display: block;
    }

  }
}
