@import '~@common/theme/style';

.cosmic-tabs {
  display: flex;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  height: fit-content;

  &--vertical {
    flex-direction: column;
    overflow: auto;
    height: 100%;
  }

  &--top {
    border-top: 1px solid $black-light;
  }

  &--bottom {
    border: 1px solid $black-light;
  }

  &--left {
    border-left: 1px solid $black-light;
  }

  &--right {
    border-right: 1px solid $black-light;
  }
  

  &::-webkit-scrollbar {
    display: none;
  }

  &__label {
    padding: 12px 16px;
    color: $black-medium;
    position: relative;
    @include font-weight(semi-bold);

    &:hover {
      color: $primary;
    }

    &--active {
      color: $primary;
      border: 2px solid $primary;
    }

    &--vertical {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
    }

    &--horizontal {
      width: 100%;
    }
  }
}
