@import '~@common/theme/style';

@include fade-in-down (fade-in-down);
@include fade-in-up (fade-in-up);

.link-card {
  border-radius: 4px;
  padding: 12px 16px;
  border: 2px solid $primary-medium;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 30vh;
  max-width: 40vh;

  &--fade-down {
    animation: fade-in-down 0.3s linear;
  }

  &--fade-up {
    animation: fade-in-up 0.3s linear;
  }

  &__title {
    margin: 12px 0px;
    @include typography(xl, bold);
    word-wrap: break-word;
    color: $primary-medium;
  }

  &__site-name {
    height: 200px;
    width: 380px;
    @include flex-center;
    @include typography(l, bold);
  }

  &__description {
    margin: 12px 0px;
    @include typography(m, semi-bold);
    word-wrap: break-word;
  }

  &__bottom {
    padding: 12px 12px 0px;
    border-top: 2px solid $primary-medium;
    @include typography(m, semi-bold);
    display: flex;
    justify-content: space-around;
  }

  &__link {
    color: $primary-medium;

    &-image {
      height: 24px;
      width: 24px;
    }

    &-copy {
      height: 24px;
      width: 24px;
      cursor: pointer;
    }

    &-share {
      height: 24px;
      width: 24px;
      cursor: pointer;
    }

    &-delete {
      height: 24px;
      width: 24px;
      cursor: pointer;
    }
  }
}
