@import '~@common/theme/style';

.link-card {
  width: 380px;
  border-radius: 4px;
  padding: 12px;
  border: 1px solid $black-light;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    margin: 12px 0px;
    @include typography(l, bold);
    word-wrap: break-word;
    color: $primary-medium;
  }

  &__site-name {
    height: 200px;
    width: 380px;
    @include flex-center;
    @include typography(l, bold);
  }

  &__description {
    margin: 12px 0px;
  }

  &__bottom {
    padding: 12px 12px 0px;
    border-top: 1px solid $black-light;
    @include typography(m, semi-bold);
  }

  &__link {
    color: $primary-medium;
  }
}
